# /editor-data/.htaccess
<FilesMatch "\.(js|css|png|jpg|jpeg|gif|ico)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<FilesMatch "\.(php|inc)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>